h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    line-height: 1.2;
}

html {
    background: #170005;
}

body {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 500;
    background: #170005;
    color: #d6d6d6;
    max-width: 36rem;
    margin: 0 auto;
    padding: 6vh 1.25rem 15vh;
    font-size: 1.25rem;
    line-height: 1.6;

}

h1 {
    font-family: 'Rajdhani', sans-serif;
    font-weight: 700;
    font-size: 2.5rem;
    margin: 0 0 1.2rem;
    letter-spacing: 0.06em;
    color: #72eaf8;
}

.system {
    color: #72eaf8;
    font-size: .9rem;
    letter-spacing: 0.12em;
    padding: .4rem .7rem;
    margin : 0 0 1.5rem;
    border: 1px solid #ff003c;
    box-shadow: 0 0 10px 0 #ff003c40;

}

.credits {
    color: #f5f5f5;
    border: 1px solid#ff003c;
    box-shadow: 0 0 10px 0 #ff003c40;
    display: inline-block;
    padding: .1rem .5rem;
    font-weight: 700;
    letter-spacing: 0.12em;
}

.warning {
    color: #72eaf8;
    font-weight: 700;
}

.redheader {
    color: #ff003c;
    font-weight: 700;
}

.human {
    color: #f5f5f5;
    font-style: italic;
}

a {
    color: #72eaf8;
    text-decoration: none;
    font-weight: 700;
    border-bottom: 2px solid #ff003c
}

a:hover {
    color: f5f5f5;
    box-shadow: 0 0 10px 0 #ff003c40;

}

a:visited {
    color: #5b7f84;
    border-color: #5a1a2a;

}

ul {
    list-style: none;
    padding: 0;
    margin-top: 2rem;

}

li {
    margin: .9rem 0;
}

.page {
    display: none;
}

.page:target {
    display: block;
}

body:not(:has(:target)) #wake {
    display: block;
}

#wake {
    --gif: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdW5jZ2Nxc2docnBrYTh6bjM1MXF5emN1azU1aXl0M2U1NDhreW5nbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ZkUMyzW7Q7quI/giphy.gif');
}

#commute {
    --gif: url('https://i.pinimg.com/originals/ca/b2/46/cab2463eccff08174ce7fe410b71da26.gif');
}

#work {
    --gif: url('https://i.pinimg.com/originals/38/3e/0e/383e0edf60a2ae892a686b18acdcb148.gif');
}

#terms {
    --gif: url('https://i.pinimg.com/originals/de/14/fe/de14fe3a0837dd198411c12b16d3278e.gif');
}

#lunch {
    --gif: url('https://media.giphy.com/media/v1.Y2lkPTc5MGI3NjExdW5jZ2Nxc2docnBrYTh6bjM1MXF5emN1azU1aXl0M2U1NDhreW5nbCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/ZkUMyzW7Q7quI/giphy.gif');
}

#evening {
    --gif: url('https://i.pinimg.com/originals/ca/b2/46/cab2463eccff08174ce7fe410b71da26.gif');
}

#sleep {
    --gif: url('https://i.pinimg.com/originals/de/14/fe/de14fe3a0837dd198411c12b16d3278e.gif');
}

.page::before {

    content: "";
    position: fixed;
    inset:0;
    z-index: -1;
    background-image: linear-gradient(135deg, #170005e6, #170005cc), var(--gif);
    background-size: cover;
    background-position: center;
}

